// colores

$mostaza: #d4af37;
$deep_blue: #0d1b2a;
$medium_blue: #415a77;
$gris_footer: #d1d1d1;
$gris_claro: #f7f3e9;
$color_caption: #666;
$fondo_oscuro: #171716;


// Fuente principal

$fuente: "Plus Jakarta Sans", sans-serif;

// Radios de bordes redondeados

$radio_tarjeta: 25px;
$radio_caja: 35px;
$radio_boton: 50px;
