// paleta de Colores
$mostaza: #d4af37;
$deep_blue: #0d1b2a;
$medium_blue: #415a77;
$gris_footer: #d1d1d1;
$gris_claro: #f7f3e9;
$color_caption: #666;
$fondo_oscuro: #171716;




// fuentes

$fuente_principal: "Plus Jakarta Sans", sans-serif;
$tamano_fuente_base: 16px;
$tamano_capitular: 25px;
$tamano_caption: 14px;




// bordes
$radio_tarjeta: 25px;
$radio_base: 35px;
$radio_boton: 50px;
$radio_completo: 100%;

// espaciados
$espacio_xs: 5px;
$espacio_sm: 10px;
$espacio_md: 20px;
$espacio_lg: 30px;


// breakpoint
$bp_movil: 599px;
$bp_tablet: 600px;
$bp_escritorio: 1024px;
