@use "../utilities/variables" as v;

.navbar-nav {
    background-color: v.$deep_blue;
    border-radius: v.$radio_caja;
    margin: 10px;
    align-items: center;
    gap: 10px;
}

.navbar-toggler {
    background-color: v.$mostaza;

    &:hover {
        background-color: v.$deep_blue;
    }

}