@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.btn {
  background-color: $mostaza;

  border-radius: $radio_boton;
@include transicion-suave(all, 0.2s);

  &:hover {
    color: $mostaza;
    border-bottom: $mostaza solid 2px;
    border-left: $mostaza solid 2px;
    transform: translateY(-2px);
  }

  &:active {
    color: $deep_blue;
    background-color: $mostaza;
    transform: translateY(0);
  }
}
.botones {
@include transicion-suave(transform, 0.2s);

  &:hover {
    color: $mostaza;
    border-bottom: $mostaza solid 2px;
    border-left: $mostaza solid 2px;
    border-radius: $radio_boton;
    transform: scale(1.08);
  }

  &:active {
    color: $deep_blue;
    background-color: $mostaza;
  }
}