@use "../utilities/variables" as *;


.btn {
  background-color: $mostaza;

  border-radius: $radio_boton;

  transition: transform 0.2s ease, background-color 0.2s ease, border 0.2s ease;

  &:hover {
    color: $mostaza;
    border-bottom: $mostaza solid 2px;
    border-left: $mostaza solid 2px;

    transform: translateY(-2px);
  }



  &:active {
    color: $deep_blue;

    background-color: $mostaza;
    transform: translateY(0);
  }
}

.botones {

  transition: transform 0.2s ease, color 0.5s ease;

  &:hover {

    color: $mostaza;
    border-bottom: $mostaza solid 2px;
    border-left: $mostaza solid 2px;
    border-radius: $radio_boton;

transform: scale(1.08);

  }

  &:active {
    color: $deep_blue;
    background-color: $mostaza;
  }
}