@use "../utilities/variables" as *;
@use "../utilities/mixins" as*;
%tarjeta-estilo-base {
  background-color: $mostaza;
}

.card {
  @extend %tarjeta-estilo-base;
  color: $deep_blue;
  border-radius: $radio_caja;

  .card-title, .card-text {
    color: $deep_blue;
  }

  .card-body {
    color: $gris_claro;
  }
}

.tarjeta {
  @extend %tarjeta-estilo-base;
  border-radius: $radio_tarjeta;
}

.tarjeta {
  background-color: $mostaza;

  border-radius: $radio_tarjeta;
}

.proyectos {
  @include flex-centro(column, flex-start, center, 10px);
  border-radius: $radio_caja;
  background-color: $medium_blue;
  padding: 10px;
}

@keyframes flotar {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-6px); }
  100% { transform: translateY(0px); }
}
.carru-hab {
  animation: flotar 3s ease-in-out infinite;
}