@use "../utilities/variables" as *;

.card {
  color: $deep_blue;
  
  background-color: $mostaza;
  border-radius: $radio_caja;

  .card-title {
    color: $deep_blue;
  }

  .card-body {
    color: $gris_claro;
  }
}

.tarjeta {
  background-color: $mostaza;

  border-radius: $radio_tarjeta;
}

.proyectos {
  display: flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: $radio_caja;
  background-color: $medium_blue;
  padding: 10px;
  gap: 10px;
}
