@use "../utilities/variables" as *;

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: $fuente;


  &::selection {

    background-color: $mostaza;
    color: $deep_blue;
  }
}

body {

  height: 100%;
  width: 100%;
  background-color: $fondo_oscuro;
  color: $medium_blue;
  font-size: 16px;
}

a {
  text-decoration: none;
}


ul {
  list-style: none;


  
  li a {
    color: $medium_blue;
    text-decoration: none;
  }
}

div div ul li {
  list-style: none;
}

.bodycontainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
}

main {
  background-color: $deep_blue;
  border-radius: $radio_caja;
  padding: 10px;
  margin: 20px;
  gap: 10px;
}