@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}
*::selection {
  background-color: #d4af37;
  color: #0d1b2a;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: #171716;
  color: #415a77;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
ul li a {
  color: #415a77;
  text-decoration: none;
}

.bodycontainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
  min-height: 100vh;
}

main {
  grid-area: main;
  background-color: #0d1b2a;
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
  gap: 20px;
}

p::first-letter {
  font-size: 25px;
}

h1 a {
  color: #d4af37;
  text-decoration: none;
}
h1 a:hover {
  background-color: #d4af37;
  color: #0d1b2a;
  border-radius: 15px;
}

h2 a:hover {
  color: #0d1b2a;
  background-color: #d4af37;
}

.titulo,
.minisub {
  list-style: none;
  border-radius: 15px;
  color: #d4af37;
  background-color: #0d1b2a;
  margin: 10px;
  padding: 10px;
  gap: 10px;
}

.subsecciones {
  justify-content: center;
  border-bottom: #d4af37 solid 1px;
  border-left: #d4af37 solid 1px;
  border-radius: 30px;
  padding: 10px;
  gap: 10px;
  color: #d4af37;
}

.subsubtitulos {
  justify-content: center;
  color: #f7f3e9;
  border-radius: 15px;
  padding: 10px;
  gap: 10px;
  margin: 20px;
}

.parrafo {
  color: #f7f3e9;
  padding: 10px;
}

figcaption {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-top: 5px;
  padding: 10px;
}

.presentacion::before {
  content: "📇 ";
}

.biograf::before {
  content: "📖 ";
}

.habilidades::before {
  content: "🔧 ";
}

.proyec::before {
  content: "🚀 ";
}

header {
  grid-area: header;
  background: linear-gradient(135deg, #d4af37 31%, #0d1b2a 69%, #415a77 100%);
  border-radius: 25px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 600px) {
  header {
    align-items: center;
    gap: 10px;
  }
}
@media (min-width: 1024px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }
}

.navbar-nav {
  background-color: #0d1b2a;
  border-radius: 15px;
  margin: 10px;
  align-items: center;
  gap: 10px;
}

.navbar-toggler {
  background-color: #d4af37;
}
.navbar-toggler:hover {
  background-color: #0d1b2a;
}

.btn {
  background-color: #d4af37;
  border-radius: 30px;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  color: #d4af37;
  border-bottom: #d4af37 solid 2px;
  border-left: #d4af37 solid 2px;
  transform: translateY(-2px);
}
.btn:active {
  color: #0d1b2a;
  background-color: #d4af37;
  transform: translateY(0);
}

.botones {
  transition: transform 0.2s ease-in-out;
}
.botones:hover {
  color: #d4af37;
  border-bottom: #d4af37 solid 2px;
  border-left: #d4af37 solid 2px;
  border-radius: 30px;
  transform: scale(1.08);
}
.botones:active {
  color: #0d1b2a;
  background-color: #d4af37;
}

.tarjeta, .card {
  background-color: #d4af37;
}

.card {
  color: #0d1b2a;
  border-radius: 15px;
}
.card .card-title, .card .card-text {
  color: #0d1b2a;
}
.card .card-body {
  color: #f7f3e9;
}

.tarjeta {
  border-radius: 15px;
}

.tarjeta {
  background-color: #d4af37;
  border-radius: 15px;
}

.proyectos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  background-color: #415a77;
  padding: 10px;
}

@keyframes flotar {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0px);
  }
}
.carru-hab {
  animation: flotar 3s ease-in-out infinite;
}

.accordion,
.accordion-item,
.accordion-button {
  background-color: #415a77;
  color: #f7f3e9;
  border-radius: 15px;
  padding: 10px;
}

.accordion-button:not(.collapsed) {
  background-color: #f7f3e9;
  color: #d4af37;
}

.align-items-center {
  perspective: 1000px;
}

.carru-hab {
  border-radius: 30px;
  height: 220px;
  width: 100%;
  object-fit: contain;
  /* EFECTO 3d*/
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.carru-hab:hover {
  transform: rotateX(15deg) rotateY(-20deg) rotateZ(3deg) scale(1.05);
  box-shadow: -15px 25px 30px rgba(0, 0, 0, 0.4);
}
@media (max-width: 599px) {
  .carru-hab {
    height: 100px;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #d4af37;
  border-radius: 100%;
}

.contenedor-habilidades {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 10px;
}
@media (min-width: 600px) {
  .contenedor-habilidades {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .contenedor-habilidades {
    grid-template-columns: repeat(4, 1fr);
  }
}

footer {
  grid-area: footer;
  background-color: #d1d1d1;
  border-radius: 15px;
  padding: 30px 60px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer h2, footer h3 {
  color: #0d1b2a;
  margin-bottom: 8px;
}
footer div ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 1024px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

/*# sourceMappingURL=styles.css.map */
